<beans:beans xmlns="http://www.springframework.org/schema/security"
	xmlns:beans="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
	http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
	http://www.springframework.org/schema/security
	http://www.springframework.org/schema/security/spring-security-3.2.xsd">

    <http pattern="/login.jsp" security="none"></http>
    <http pattern="/403.jsp" security="none"></http>
    <http pattern="/SigninWithGoogle" security="none" />
    
    <!-- enable use-expressions -->
	<http auto-config="true" use-expressions="true">
		<intercept-url pattern="/*" access="hasRole('ROLE_USER')" />
		<!--  <intercept-url pattern="/admin.jsp" access="hasRole('ROLE_ADMIN')" /> -->
		
		<!--  <intercept-url pattern="/adduser" access="hasRole('ROLE_USER')" /> -->  <!-- for servlet access control -->
		<!-- access denied page -->
		<access-denied-handler error-page="/403.jsp" />
		<form-login 
		    login-page="/login.jsp" 
		    default-target-url="/doc.jsp"
			authentication-failure-url="/login.jsp?error" 
			username-parameter="username"
			password-parameter="password" />
		<logout logout-url="/logout" logout-success-url="/login.jsp" delete-cookies="JSESSIONID"  />
		<!-- enable csrf protection -->
	</http>
	
	<!-- Select users and user_roles from database -->
	<authentication-manager>
		<authentication-provider>
			<jdbc-user-service data-source-ref="dataSource"
				users-by-username-query=
					"select username,password, enabled from users where username=?"
				authorities-by-username-query=
					"select username, role from user_roles where username =?  " />
		</authentication-provider>
	</authentication-manager>
	
	
	<beans:bean id="contextSource"
		class="org.springframework.security.ldap.DefaultSpringSecurityContextSource">
		<beans:constructor-arg
			value="ldap://ldap.forumsys.com:389/dc=example,dc=com" />
		<beans:property name="anonymousReadOnly" value="true" />
	</beans:bean>

    <!-- what is this? -->
	<beans:bean id="userSearch"
		class="org.springframework.security.ldap.search.FilterBasedLdapUserSearch">
		<beans:constructor-arg index="0" value="" />
		<beans:constructor-arg index="1" value="(uid={0})" />
		<beans:constructor-arg index="2" ref="contextSource" />
	</beans:bean>
	
	<beans:bean id="ldapAuthProvider"
		class="org.springframework.security.ldap.authentication.LdapAuthenticationProvider">
		<beans:constructor-arg>
			<beans:bean
				class="org.springframework.security.ldap.authentication.BindAuthenticator">
				<beans:constructor-arg ref="contextSource" />
				<beans:property name="userSearch" ref="userSearch" />
				<!-- <beans:property name="userDnPatterns"> <beans:list><beans:value>uid={0},ou=People</beans:value></beans:list> 
					</beans:property> -->
			</beans:bean>
		</beans:constructor-arg>

		<beans:constructor-arg>
			<beans:bean class="PlanetaryDefense.PD.web.CustomLdapAuthoritiesPopulator" />
		</beans:constructor-arg>

	</beans:bean>
	
	<authentication-manager>
		<authentication-provider ref="ldapAuthProvider" />  <!--bean ID, cannot be use with spring security-->
	</authentication-manager>

</beans:beans>